# Data Check 2

In [2]:
import pandas as pd
import yfinance as yf

Universe1: from 1972-01-03 to 1992-02-07

In [6]:
data1=yf.download("GE", start="1972-01-01", end="1994-01-01")
print(data1.iloc[:5080])

[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume
Date
1972-01-03   7.834549   7.912738   7.818912   7.881463   1.722091   352511
1972-01-04   7.881463   7.881463   7.834549   7.865825   1.718674   334925
1972-01-05   7.865825   7.959652   7.850187   7.881463   1.722091   645870
1972-01-06   7.897101   8.006565   7.897101   7.975290   1.742592   366899
1972-01-07   7.975290   8.100392   7.975290   8.053479   1.759676   732199
...               ...        ...        ...        ...        ...      ...
1992-02-03  37.530773  38.031185  37.468224  38.031185  17.462257  3245137
1992-02-04  37.968636  38.594147  37.843533  38.469044  17.663315  2271136
1992-02-05  38.531597  39.219662  38.469044  38.781799  17.806908  2737553
1992-02-06  38.969456  39.157108  38.469044  38.781799  17.806908  1860873
1992-02-07  38.781799  38.906902  38.343941  38.656696  17.749470  2387441

[5080 rows x 6 columns]

Universe2: out of sample days: from 1992-02-10 to 2011-04-08, in total 230 months or 4830 days.

In [11]:
data2=yf.download("GE", start="1992-02-08", end="2013-01-01")
print(data2.iloc[:4830])

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close  Adj Close   Volume
Date
1992-02-10   38.656696   38.906902   38.406494   38.719250  17.778200  1749364
1992-02-11   38.656696   38.844353   38.343941   38.531597  17.692028  1571910
1992-02-12   38.594147   39.094559   38.469044   38.969456  17.893085  1688015
1992-02-13   39.219662   39.469864   38.531597   38.719250  17.778200  2273334
1992-02-14   38.656696   38.969456   38.594147   38.594147  17.720751  2042524
...                ...         ...         ...         ...        ...      ...
2011-04-04  124.482079  124.602173  122.740646  123.281090  93.818527  7563493
2011-04-05  122.980843  123.881584  121.899956  122.080109  92.904549  6922119
2011-04-06  123.521286  123.821533  122.320305  123.401192  93.909920  8473263
2011-04-07  123.040894  123.100945  121.239418  122.200203  92.995941  8683457
2011-04-08  123.040894  123.221039  120.518822  121.239418  92.264771  8078437

[4830 rows x 6 columns]

In [18]:
data2=yf.download("GE", start="1991-01-01", end="1992-02-10")
print(data2.iloc[-250:])

## In the sample day: 1991-02-13 to 1992-02-07

[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume
Date
1991-02-13  33.464939  33.965351  33.089634  33.965351  15.137024  3651204
1991-02-14  34.027905  34.653416  33.339840  33.715145  15.025509  5612394
1991-02-15  34.027905  35.028725  34.027905  34.841068  15.527295  6377366
1991-02-19  34.903622  35.091274  34.653416  34.841068  15.527295  4133208
1991-02-20  34.590866  34.590866  34.027905  34.215557  15.248530  3165202
...               ...        ...        ...        ...        ...      ...
1992-02-03  37.530773  38.031185  37.468224  38.031185  17.462269  3245137
1992-02-04  37.968636  38.594147  37.843533  38.469044  17.663319  2271136
1992-02-05  38.531597  39.219662  38.469044  38.781799  17.806919  2737553
1992-02-06  38.969456  39.157108  38.469044  38.781799  17.806919  1860873
1992-02-07  38.781799  38.906902  38.343941  38.656696  17.749460  2387441

[250 rows x 6 columns]

In [19]:
# Total data requires from 1991-02-13 to 1992-02-07 to 2011-04-08, that's 4830+250=5080
data2=yf.download("GE", start="1991-02-13", end="2011-04-09")
print(data2.iloc[:])

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close  Adj Close   Volume
Date
1991-02-13   33.464939   33.965351   33.089634   33.965351  15.137027  3651204
1991-02-14   34.027905   34.653416   33.339840   33.715145  15.025514  5612394
1991-02-15   34.027905   35.028725   34.027905   34.841068  15.527300  6377366
1991-02-19   34.903622   35.091274   34.653416   34.841068  15.527300  4133208
1991-02-20   34.590866   34.590866   34.027905   34.215557  15.248539  3165202
...                ...         ...         ...         ...        ...      ...
2011-04-04  124.482079  124.602173  122.740646  123.281090  93.818504  7563493
2011-04-05  122.980843  123.881584  121.899956  122.080109  92.904549  6922119
2011-04-06  123.521286  123.821533  122.320305  123.401192  93.909912  8473263
2011-04-07  123.040894  123.100945  121.239418  122.200203  92.995941  8683457
2011-04-08  123.040894  123.221039  120.518822  121.239418  92.264771  8078437

[5080 rows x 6 columns]

## Now check data files:

In [3]:
FF_u1 = pd.read_csv('data/FF_universe1.csv')
stocks_u1=pd.read_csv('data/stocks100_u1.csv')
print(FF_u1)
print(stocks_u1)

      Unnamed: 0  Mkt-RF   SMB   HML     RF
0       19720103   -0.37  0.65  0.62  0.014
1       19720104    0.39  0.36  0.36  0.014
2       19720105    0.97  0.31  0.55  0.014
3       19720106    0.44  0.47 -0.14  0.014
4       19720107   -0.01  0.24  0.02  0.014
...          ...     ...   ...   ...    ...
5075    19920203    0.25 -0.02  0.36  0.015
5076    19920204    1.01 -0.07 -0.01  0.015
5077    19920205    0.24  0.51  0.07  0.015
5078    19920206    0.04  0.19  0.61  0.015
5079    19920207   -0.59  0.47  0.24  0.015

[5080 rows x 5 columns]
          date     10225     10401     10516     10604     10989     11308  \
0     19720103  0.005970  0.000000  0.000000 -0.010417  0.031621 -0.012295
1     19720104  0.000000  0.011173  0.003401 -0.003509  0.011494  0.002075
2     19720105  0.014837  0.022099  0.003390  0.024648  0.015152 -0.006211
3     19720106  0.008772  0.016216  0.006757 -0.020619  0.000000 -0.027083
4     19720107  0.034783 -0.005319 -0.006711 -0.014035  0.007463 -0.006424
...        ...       ...       ...       ...       ...       ...       ...
5075  19920203  0.000000 -0.006711  0.038655 -0.001189  0.001504  0.017742
5076  19920204  0.000000  0.016892  0.008097  0.005952  0.000000  0.001585
5077  19920205  0.000000  0.000000  0.004016  0.001183 -0.004505 -0.011076
5078  19920206  0.000000 -0.006645  0.016000 -0.011820 -0.003017  0.006400
5079  19920207  0.005556 -0.013378 -0.015748  0.016746  0.012103 -0.006359

         11404     11703     11754  ...     45751     47079     47837  \
0     0.004831 -0.003448 -0.002571  ...  0.000000 -0.013441  0.000000
1     0.014423  0.000000 -0.002577  ... -0.007224  0.002725  0.012712
2     0.014218  0.010381  0.002584  ...  0.013462 -0.005435  0.020921
3     0.000000  0.004281  0.003866  ... -0.020873  0.000000 -0.004098
4    -0.004673  0.004263 -0.002567  ...  0.003876 -0.008197  0.010288
...        ...       ...       ...  ...       ...       ...       ...
5075 -0.008772 -0.010753 -0.012376  ...  0.000000  0.000000 -0.016892
5076 -0.008850  0.043478  0.017544  ...  0.014851  0.025000 -0.003436
5077  0.000000 -0.018229 -0.083744  ...  0.008130  0.032520  0.003448
5078  0.013393  0.023873  0.005376  ... -0.001613  0.062992  0.013746
5079 -0.008811 -0.002591  0.002674  ...  0.001616 -0.022222 -0.003390

         47941     48071     48354     48506     48725     51043     52919
0     0.004348  0.008347  0.004566 -0.007353  0.002041 -0.011450 -0.003663
1     0.004329 -0.008278  0.013636 -0.011111  0.002037  0.065637  0.000000
2    -0.004310 -0.005008  0.006726 -0.029963 -0.008130  0.033816  0.003676
3     0.017316  0.011745  0.015590  0.000000 -0.004098 -0.011682  0.021978
4    -0.021277  0.001658 -0.004386  0.003861 -0.006173 -0.018913  0.043011
...        ...       ...       ...       ...       ...       ...       ...
5075  0.000000  0.004132  0.009980  0.000000  0.010989 -0.005792 -0.026201
5076  0.005618  0.022634  0.015810 -0.009259  0.043478  0.015534  0.056306
5077  0.025140  0.012072  0.000000 -0.002336 -0.010417 -0.011472  0.017058
5078 -0.013624 -0.003976 -0.007782 -0.007026  0.021053 -0.011605 -0.020964
5079 -0.005525 -0.019960  0.005882  0.011792  0.005155  0.007828 -0.008565

[5080 rows x 101 columns]

In [4]:
FF_u2 = pd.read_csv('data/FF_universe2.csv')
stocks_u2=pd.read_csv('data/stocks100_u2.csv')
print(FF_u2)
print(stocks_u2)

      Unnamed: 0  Mkt-RF   SMB   HML     RF
0       19910213    0.89  0.13 -0.12  0.025
1       19910214   -1.20  0.87  0.17  0.025
2       19910215    1.20 -0.18 -0.18  0.025
3       19910219    0.13 -0.04 -0.53  0.025
4       19910220   -1.06  0.30  0.17  0.025
...          ...     ...   ...   ...    ...
5075    20110404    0.09  0.24 -0.13  0.000
5076    20110405    0.08  0.48 -0.22  0.000
5077    20110406    0.21 -0.20  0.65  0.000
5078    20110407   -0.20 -0.21 -0.19  0.000
5079    20110408   -0.47 -0.55 -0.28  0.000

[5080 rows x 5 columns]
          date     10104     10107     10145     10147     11081     11308  \
0     19910213  0.026667  0.021792  0.033195  0.058824  0.103261  0.019656
1     19910214 -0.025974 -0.045024 -0.036145  0.041667 -0.024631 -0.007229
2     19910215  0.000000  0.024814  0.029167 -0.040000  0.040404  0.019417
3     19910219 -0.013333 -0.007264 -0.028340  0.013889  0.043689 -0.002381
4     19910220 -0.013514  0.002439 -0.012500 -0.013699 -0.009302 -0.011933
...        ...       ...       ...       ...       ...       ...       ...
5075  20110404  0.003527  0.002747 -0.000506 -0.019962 -0.006276  0.006546
5076  20110405 -0.006444  0.009002 -0.003039 -0.003459  0.012632 -0.002808
5077  20110406 -0.010023  0.014352 -0.003387  0.006170  0.024255  0.002371
5078  20110407  0.004169  0.001912 -0.006117  0.005366  0.004060 -0.002809
5079  20110408 -0.005338 -0.004962 -0.003248 -0.003812 -0.018194 -0.002521

         11552     11703     11850  ...     70332     71298     75034  \
0     0.000000  0.026144  0.025761  ... -0.004505 -0.011834 -0.018265
1    -0.014706 -0.041401 -0.018265  ... -0.004525 -0.023952 -0.023256
2     0.014925  0.026578 -0.006977  ... -0.009091 -0.024540 -0.019048
3     0.000000  0.003236  0.002342  ...  0.013761  0.006289  0.009709
4    -0.014706 -0.006452  0.002336  ... -0.036199 -0.025000 -0.019231
...        ...       ...       ...  ...       ...       ...       ...
5075 -0.010471  0.007248  0.002244  ... -0.001327  0.002341  0.002900
5076 -0.014109  0.008455  0.006480  ... -0.003504  0.056237  0.005233
5077 -0.001789 -0.000714 -0.002810  ... -0.001212 -0.001842 -0.024384
5078  0.008781 -0.008033  0.006809  ...  0.011653 -0.007567  0.000000
5079 -0.006573 -0.003059  0.002215  ...  0.016439  0.011159  0.004914

         75418     75652     75825     75844     76076     87055     92655
0     0.006289  0.000000  0.042169  0.008475  0.016878  0.015021 -0.003788
1     0.008333  0.000000 -0.069364  0.000000 -0.029046 -0.014799  0.007605
2     0.014463  0.019417  0.037267  0.008403  0.000000  0.021459 -0.018868
3    -0.022403  0.038095 -0.023952 -0.016667 -0.008547  0.037815 -0.023077
4    -0.016667  0.000000  0.030675  0.008475 -0.004310 -0.016194 -0.043307
...        ...       ...       ...       ...       ...       ...       ...
5075 -0.000344 -0.009893 -0.000169  0.019413  0.001174 -0.001077 -0.000219
5076 -0.004816  0.015388 -0.012250 -0.005208  0.009379  0.010247 -0.011184
5077  0.012789 -0.000787 -0.018047 -0.018325  0.049361  0.000801 -0.002883
5078  0.000683  0.000394 -0.001306 -0.017500 -0.008854  0.037738 -0.011788
5079 -0.008186 -0.006497  0.000000 -0.015098 -0.014517 -0.018119 -0.001125

[5080 rows x 101 columns]